@font-face {
    font-family: "Shawdows Into Ligth t";
    src: url("../fuentes/ShadowsIntoLight-Regular.ttf");
}

.clearfix {
    float: none;
    clear: both;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Shawdows Into Ligth t", Arial, Helvetica, sans-serif;
}


/*Maquetacion del header*/

header {
    width: 100%;
    background-color: #e6e6e6;
    padding: 2% 0px;
}

header>img {
    display: block;
    width: 10%;
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 99px;
    box-shadow: 0px 0px 15px gray;
}

header>h1 {
    width: 80%;
    margin: 0px auto;
    margin-top: 1%;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgb(44, 44, 44);
    background-color: rgba(156, 156, 156, 0.287);
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
}


/*Fin del header*/


/*Maquetacion del menu*/

nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.904);
}

nav>ul {
    width: 85%;
    height: 50px;
    margin: 0px auto;
}

nav>ul>li {
    display: block;
    width: 19%;
    height: 100%;
    float: left;
    border-right: 1px solid #ccccccaf;
}

nav>ul>li:first-child {
    border-left: 1px solid #ccccccaf;
}

nav>ul>li>a {
    display: block;
    background-color: rgba(56, 56, 56, 0.774);
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 1.5px 1.5px 3px rgba(255, 255, 255, 0.726);
    transition: all 600ms;
}

nav>ul>li>a:hover {
    background-color: rgba(251, 66, 66, 0.733);
    box-shadow: 0px 0px 5px black inset;
    text-decoration: underline;
}

/*Maquetacion del contenido central*/

#contenidoCentral{
    width: 95%;
    margin: 0px auto;
    border: 1px solid black;
}

main,aside{
    padding: 1%;
}

main{
    width: 65%;
    float:left;
}

aside{
    width: 30%;
    float: left;
}

main>section{
    width: 100%;
    height: 300px;
    margin-bottom: 2%;
    background-color: rgb(39, 39, 39);
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 2px 2px 4px rgb(109, 108, 108);
}

section > h2{
    width: 95%;
    margin: 0px auto;
    margin-top: 1%;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: rgba(128, 128, 128, 0.555);
    box-shadow: 0px 0px 4px black inset;
    border: 1px solid black;
    border-radius: 15px;
}

article{
    width: 95%;
    margin: 0px auto;
    padding: 1% 0px;
}

article > p , article > img{
    display: block;
    float: left;
    max-height: 230px;
}

article > p {
    width: 66.5%;
    padding-left: 0.5%;
    margin-right: 3%;
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 0px 0px 8px black inset;
    overflow-y: scroll;
}

article > img {
    width: 30%;
    border-radius: 15px 0px;
    box-shadow: 0px 0px 6px white;
}

@media (max-width: 414px) {
    header>img {
        width: 30%;
    }
    header>h1 {
        font-size: 35px;
        border: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px black;
        background-color: rgba(0, 0, 0, 0);
    }
    nav {
        min-height: 206px;
        background-color: rgba(0, 0, 0, 0);
    }
    nav>ul {
        width: 100%;
    }
    nav>ul>li {
        background-color: black;
        float: none;
        width: 100%;
        margin: 0px auto;
        border: 1px solid white;
        border-bottom: 0px;
    }
    nav>ul>li:first-child {
        display: none;
    }
    nav>ul>li>a {
        font-size: 20px;
        line-height: 40px;
    }
}

@media (max-width: 375px) {
    nav>ul>li>a {
        font-size: 18px;
        line-height: 40px;
    }
}